* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #273043;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #273043;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 70px;
}

.search {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #424a58;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
}

.search:focus {
  outline: none;
  color: #fff;
}

.search::placeholder {
  color: #fff;
}

#app {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  background-color: #363f52;
  margin: 1rem 0.5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card .n-v {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .n-v .title {
  max-width: 35ch;
}

.card .n-v .vote {
  font-weight: bold;
  background-color: #273043;
  padding: 0.3rem;
  border-radius: 5px;
}

.card .overview {
  transform: translateY(101%);
  overflow-y: auto;
  max-height: 40%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  color: #273043;
  transition: all 0.2s ease-in-out;
}
.card:hover .overview {
  transform: translateY(0);
}

.red-v {
  color: red !important;
}
.yellow-v {
  color: yellow;
}
.green-v {
  color: #00c200;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 50px;
  }

  .card img {
    height: auto;
  }
}
