* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #273043;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: red;
  text-align: center;
  background: transparent;
  border: 3px solid red;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
  color: #fff;
}

header {
  padding: 0.5rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #273043;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

hr {
  border: 0;
  margin: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 70px;
}

.search {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #424a58;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
}

.search:focus {
  outline: none;
  color: #fff;
}

.search::placeholder {
  color: #fff;
}

#app {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  background-color: #363f52;
  margin: 1rem 0.5rem;
}

.card .movie-poster {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.card .m-a {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.card .m-a .trailer-button,
.card .m-a a {
  font-size: 2rem;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 5;
  user-select: none;
}

.card .n-v {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .n-v .title {
  max-width: 35ch;
}

.card .n-v .vote {
  font-weight: bold;
  background-color: #273043;
  padding: 0.3rem;
  border-radius: 5px;
}

.card .overview {
  transform: translateY(101%);
  overflow-y: auto;
  max-height: 40%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  color: #273043;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.card:hover .overview {
  transform: translateY(0);
}

.red-v {
  color: red !important;
}

.yellow-v {
  color: yellow;
}

.green-v {
  color: #00c200;
}

/* Movie Page */

#app.movie-page {
  padding: 0;
}

.movie-banner-wrapper {
  position: relative;
}

.movie-banner-wrapper .movie-banner {
  width: 100vw;
  height: 60vh;
  margin-top: 2rem;
}

.movie-banner-img-wrapper {
  position: relative;
}

.movie-banner-img-wrapper-overlay {
  position: absolute;
  background: linear-gradient(
    0deg,
    #000,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  );
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.banner-overlab {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.movie-title {
  font-family: "Krona One", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5rem;
}

.banner-overlab .bo-btns {
  margin: 2.5rem 0;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
}

.banner-overlab .bo-btns .btn {
  margin: 0 1rem;
}

.banner-overlab .bo-btns .btn.btn-wm {
  border: 3px solid #00c200;
  color: #fff;
  background: #00c200;
}

.banner-overlab .bo-btns .btn.btn-wm:hover {
  color: #00c200;
  background: transparent;
}

.movie-info {
  padding: 1rem;
}

.movie-info h1 {
  margin-bottom: 1rem;
}

.det-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.rd {
  max-height: 50px;
}

.high {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #363f52;
}

.movie-info p span {
  font-weight: bold;
  background-color: #273043;
  padding: 0.3rem;
  border-radius: 5px;
}

.ntav {
  background-color: #002c00 !important;
  color: #fff !important;
  border: 3px solid #002c00 !important ;
}



@media screen and (max-width: 600px) {
  .logo {
    width: 50px;
  }
  .card img {
    height: auto;
  }
  #app.movie-page {
    padding: 2rem 0;
  }
  .movie-banner-wrapper .movie-banner {
    width: 100vw;
    height: 80vh;
    margin-top: 2rem;
  }
  .movie-title {
    font-size: 2.5rem;
  }
  .banner-overlab .bo-btns .btn {
    margin: 0 1rem;
  }
  .det-two {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .rd {
    max-height: 100%;
  }
}

@media screen and (max-width: 340px) {
  .banner-overlab .bo-btns .btn {
    margin: 0;
  }
  .movie-title {
    font-size: 2rem;
  }
}
